In [1]:
print("hello")

hello

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("boston.csv")

In [4]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [6]:
df.head()
# head will start giving the columns from the start
# it will return the first 5 values by default

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [21]:
df.head(20)
# if you mention anything it will give that many columns

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307.0,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307.0,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307.0,21.0,390.95,11.28,18.2

In [ ]:
# Dataframe is nothing but structured data

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.tail()
# give the columns from the last

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [9]:
df1=df.head(10)

In [10]:
df1.to_csv("createdByPandas.csv")

In [11]:
pwd()

'C:\\Users\\karth\\Desktop\\PROGRAMING FILES\\pandas'

In [13]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2EDF-129E

 Directory of C:\Users\karth\Desktop\PROGRAMING FILES\pandas

09-04-2022  12:44    <DIR>          .
09-04-2022  12:44    <DIR>          ..
09-04-2022  02:06    <DIR>          .ipynb_checkpoints
09-04-2022  02:15            41,359 boston.csv
09-04-2022  18:19               826 createdByPandas.csv
09-04-2022  10:32               219 html_page_table.csv
09-04-2022  12:44           141,250 Untitled.ipynb
               4 File(s)        183,654 bytes
               3 Dir(s)  34,828,120,064 bytes free

In [14]:
pd.read_csv("createdByPandas.csv")

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [ ]:
# shift+tab will give the info about the particular function

In [31]:
# delimeter is nothing but seperator

In [15]:
pd.read_csv("createdByPandas.csv",header=None)
# read the all the function by using the shift+tab
# and overide the things as you need

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,NaN,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296.0,15.3,396.9,4.98,24.0
2,1.0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6
3,2.0,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
4,3.0,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
5,4.0,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.9,5.33,36.2
6,5.0,0.02985,0.0,2.18,0,0.458,6.43,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
7,6.0,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.6,12.43,22.9
8,7.0,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.9,19.15,27.1
9,8.0,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
10,9.0,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.1,18.9

In [16]:
pd.read_csv("createdByPandas.csv",header=None,names=["a","b","c","d","e","f"])
# manipulating the column names by our own way

,,,,,,,,,a,b,c,d,e,f
NaN,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296.0,15.3,396.9,4.98,24.0
1.0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6
2.0,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3.0,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4.0,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.9,5.33,36.2
5.0,0.02985,0.0,2.18,0,0.458,6.43,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6.0,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.6,12.43,22.9
7.0,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.9,19.15,27.1
8.0,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9.0,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.1,18.9

In [17]:
pd.read_csv("createdByPandas.csv",header=None,na_values=[3])
# here I made the value 3 to consider that as na, it is useful like if we didn't need negative values 
# in come column or particular data then we can remote easily

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,NaN,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296.0,15.3,396.9,4.98,24.0
2,1.0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6
3,2.0,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
4,NaN,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,NaN,222.0,18.7,394.63,2.94,33.4
5,4.0,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,NaN,222.0,18.7,396.9,5.33,36.2
6,5.0,0.02985,0.0,2.18,0,0.458,6.43,58.7,6.0622,NaN,222.0,18.7,394.12,5.21,28.7
7,6.0,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.6,12.43,22.9
8,7.0,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.9,19.15,27.1
9,8.0,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
10,9.0,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.1,18.9

In [18]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [19]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [20]:
pd.read_csv("createdByPandas.csv",header=None,skiprows=[0,2,5])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
4,6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
5,7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
6,8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
7,9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [21]:
len(df1)

10

In [22]:

def logic(index):
 
    if index % 3 == 0:
        return True
 
    return False
 
pd.read_csv("createdByPandas.csv",header=None,skiprows=lambda x:logic(x))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
5,7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
6,9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [23]:
df.describe()
# this will no give the dicription about the column which is string or somethings
# it will give descriptin about the column which has datatypes integer or float

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [24]:
df1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [25]:
df1.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [26]:
# series means one record
df['CRIM']

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64

In [27]:
type(df['CRIM'])

pandas.core.series.Series

In [28]:

# df['CRIM','ZN'] WILL NOT WORK
type(df[['CRIM','ZN']])

pandas.core.frame.DataFrame

In [29]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')
# read_html will search for the <tb> </tb> tags in the html pages

In [30]:
len(table_MN)

29

In [31]:
table_MN[1]
# IT WILL RETURN THE FIRST TABLE AND THEN WE CAN USE THAT TABLE WHEREVER WE WANT

                 Minnesota state symbols  \
                         Living insignia
0                                   Bird
1                              Butterfly
2                                   Fish
3                                 Flower
4                               Mushroom
5                                   Tree
6                     Inanimate insignia
7                               Beverage
8                                   Food
9                               Gemstone
10                                 Other
11  Lists of United States state symbols


                                    Living insignia.1
0                                         Common loon
1                                             Monarch
2                                             Walleye
3                       Pink-and-white lady's slipper
4                  Common morel (Morchella esculenta)
5                                      Norway pine[7]
6                                  Inanimate insignia
7                                                Milk
8   Fruit: Honeycrisp appleMuffin: BlueberryMushro...
9                                 Lake Superior agate
10                                  Photograph: Grace
11               Lists of United States state symbols

In [33]:
# Reading the carona info
html_data = pd.read_html('https://pbpython.com/pandas-html-table.html')

In [34]:
html_data

[   Unnamed: 0  Year     Office    GOP    DFL Others
 0           0  2018   Governor  42.4%  53.9%   3.7%
 1           1  2018    Senator  36.2%  60.3%   3.4%
 2           2  2018    Senator  42.4%  53.0%   4.6%
 3           3  2016  President  44.9%  46.4%   8.6%
 4           4  2014   Governor  44.5%  50.1%   5.4%,
    Unnamed: 0  Year     Office   GOP   DFL  Others
 0           0  2018   Governor  42.4  53.9     3.7
 1           1  2018    Senator  36.2  60.3     3.4
 2           2  2018    Senator  42.4  53.0     4.6
 3           3  2016  President  44.9  46.4     8.6
 4           4  2014   Governor  44.5  50.1     5.4,
    Unnamed: 0  Year  Nominal GDP(in bil. US-Dollar)  \
 0           0  2020                         20234.0
 1           1  2019                         21439.0
 2           2  2018                         20580.2
 3           3  2017                         19519.4
 4           4  2016                         18715.0

    GDP per capita(in US-Dollar)  GDP growth(real)  Inflation rate(in percent)  \
 0                         57589              -5.9                        0.62
 1                         64674               2.2                        1.80
 2                         62869               3.0                        2.40
 3                         60000               2.3                        2.10
 4                         57878               1.7                        1.30

    Unemployment (in percent)  Budget balance(in % of GDP)[107]  \
 0                       11.1                               NaN
 1                        3.5                              -4.6
 2                        3.9                              -3.8
 3                        4.4                              -3.4
 4                        4.9                              -3.1

    Government debt held by public(in % of GDP)[108]  \
 0                                              79.9
 1                                              78.9
 2                                              77.8
 3                                              76.1
 4                                              76.4

    Current account balance(in % of GDP)
 0                                   NaN
 1                                  -2.5
 2                                  -2.4
 3                                  -2.3
 4                                  -2.3  ]

In [35]:
len(html_data)

3

In [36]:
html_data[0]

   Unnamed: 0  Year     Office    GOP    DFL Others
0           0  2018   Governor  42.4%  53.9%   3.7%
1           1  2018    Senator  36.2%  60.3%   3.4%
2           2  2018    Senator  42.4%  53.0%   4.6%
3           3  2016  President  44.9%  46.4%   8.6%
4           4  2014   Governor  44.5%  50.1%   5.4%

In [ ]:
# enen though it has the tables data but it will not give data 
# because it is client side rendered website, 
# there will no info related to the table in the view page source
# if you want to know wheather you can get the data from the website or not
# go to the view source of that pagee
# and search(ctrl+f) for <tb tag inorder to know
https://www.cricbuzz.com/live-cricket-scorecard/45886/csk-vs-kkr-1st-match-indian-premier-league-2022

In [38]:
html_data[0].to_csv("html_page_table.csv")
# html_data contains multiple tables means multiple data frames
# you can import all those to single the csv
# if you want to do, you can do single tables to csv format

In [39]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2EDF-129E

 Directory of C:\Users\karth\Desktop\PROGRAMING FILES\pandas

09-04-2022  12:44    <DIR>          .
09-04-2022  12:44    <DIR>          ..
09-04-2022  02:06    <DIR>          .ipynb_checkpoints
09-04-2022  02:15            41,359 boston.csv
09-04-2022  18:19               826 createdByPandas.csv
09-04-2022  18:20               219 html_page_table.csv
09-04-2022  12:44           141,250 Untitled.ipynb
               4 File(s)        183,654 bytes
               3 Dir(s)  34,828,193,792 bytes free

In [40]:
pd.read_csv("html_page_table.csv")

   Unnamed: 0  Unnamed: 0.1  Year     Office    GOP    DFL Others
0           0             0  2018   Governor  42.4%  53.9%   3.7%
1           1             1  2018    Senator  36.2%  60.3%   3.4%
2           2             2  2018    Senator  42.4%  53.0%   4.6%
3           3             3  2016  President  44.9%  46.4%   8.6%
4           4             4  2014   Governor  44.5%  50.1%   5.4%

In [41]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [42]:

# importing data from external api

import requests
import json
response_API = requests.get('https://api.covid19india.org/state_district_wise.json')
#print(response_API.status_code)
data = response_API.text
s1=json.loads(data)
s1
pd.DataFrame(s1)

,State Unassigned,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Delhi,Dadra and Nagar Haveli and Daman and Diu,...,Punjab,Puducherry,Rajasthan,Sikkim,Telangana,Tamil Nadu,Tripura,Uttar Pradesh,Uttarakhand,West Bengal
districtData,"{'Unassigned': {'notes': '', 'active': 0, 'con...",{'Nicobars': {'notes': 'District-wise numbers ...,"{'Foreign Evacuees': {'notes': '', 'active': 0...","{'Anjaw': {'notes': '', 'active': 48, 'confirm...","{'Airport Quarantine': {'notes': '', 'active':...","{'Araria': {'notes': '', 'active': 8, 'confirm...","{'Chandigarh': {'notes': '', 'active': 35, 'co...","{'Other State': {'notes': '', 'active': 19, 'c...",{'Central Delhi': {'notes': 'District-wise num...,"{'Other State': {'notes': '', 'active': 0, 'co...",...,"{'Amritsar': {'notes': '', 'active': 32, 'conf...",{'Karaikal': {'notes': '2 case of TN has been ...,"{'Ajmer': {'notes': '', 'active': 14, 'confirm...","{'East Sikkim': {'notes': '', 'active': 10831,...",{'Foreign Evacuees': {'notes': 'District-wise ...,"{'Railway Quarantine': {'notes': '', 'active':...","{'Dhalai': {'notes': '', 'active': 107, 'confi...","{'Agra': {'notes': '', 'active': 8, 'confirmed...","{'Almora': {'notes': '', 'active': 6, 'confirm...","{'Alipurduar': {'notes': '', 'active': 243, 'c..."
statecode,UN,AN,AP,AR,AS,BR,CH,CT,DL,DN,...,PB,PY,RJ,SK,TG,TN,TR,UP,UT,WB

In [65]:

# importing data from external api

import requests
import json
response_API = requests.get('https://jsonplaceholder.typicode.com/todos/')
#print(response_API.status_code)
data = response_API.text
s1=json.loads(data)
s1
pd.DataFrame(s1)

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

In [43]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46722,1198575475,I_kwDOAA0YD85HcM9z,46722,DOC: KeyError isn't raised if df/series at pro...,...,2022-04-09 12:52:05+00:00,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46721,1198494355,PR_kwDOAA0YD8417nVw,46721,TST: Add test for groupby where by column cont...,...,2022-04-09 10:34:42+00:00,NaT,CONTRIBUTOR,NaN,- [x] closes #29635,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46719,1198463152,PR_kwDOAA0YD8417h6h,46719,Fix __instancecheck__ and __subclasscheck__ of...,...,2022-04-09 10:04:37+00:00,NaT,CONTRIBUTOR,NaN,- [x] closes #46684 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46718,1198456453,PR_kwDOAA0YD8417gdS,46718,Raise `FileNotFoundError` in `read_json` if in...,...,2022-04-09 11:48:39+00:00,NaT,CONTRIBUTOR,NaN,- [x] closes #29102\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46717,1198423784,PR_kwDOAA0YD8417ZTC,46717,EHN: add same value count for skew & kurt,...,2022-04-09 08:16:41+00:00,NaT,NONE,NaN,REF:\r\n* https://github.com/pandas-dev/pandas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46716,1198335518,I_kwDOAA0YD85HbSYe,46716,QST: On the performance of a rolling window op...,...,2022-04-09 12:26:50+00:00,NaT,NONE,NaN,### Research\n\n- [X] I have searched the [[pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46715,1198320752,PR_kwDOAA0YD8417BZC,46715,ENH: Same val counts for roll sum mean,...,2022-04-09 08:14:27+00:00,NaT,NONE,NaN,REF: https://github.com/pandas-dev/pandas/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46714,1198158766,PR_kwDOAA0YD8416bEy,46714,DOC/CLN: pd.test,...,2022-04-09 04:22:24+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46713,1198129446,PR_kwDOAA0YD8416UE8,46713,TST: Use fixtures instead of setup_method,...,2022-04-09 03:59:30+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46712,1198112256,PR_kwDOAA0YD8416QBA,46712,TST: Parameterize,...,2022-04-09 03:46:10+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46711,1197955363,PR_kwDOAA0YD8415r9i,46711,DOC: sample variance -> population variance (#...,...,2022-04-09 00:15:00+00:00,NaT,CONTRIBUTOR,NaN,- [x] closes #46482 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46708,1197916105,PR_kwDOAA0YD8415jhB,46708,ENH: Add numeric_only to frame methods,...,2022-04-08 22:57:37+00:00,NaT,MEMBER,NaN,Part of #46560 \r\n- [x] [Tests added and pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46707,1197902854,PR_kwDOAA0YD8415gp1,46707,DEPR: mad,...,2022-04-09 03:07:51+00:00,NaT,MEMBER,NaN,- [x] closes #11787 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46705,1197732333,I_kwDOAA0YD85HY_Ht,46705,BUG: hash_pandas_object ignores column name va...,...,2022-04-08 19:42:32+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46704,1197687471,I_kwDOAA0YD85HY0Kv,46704,BUG: `loc` with `MultiIndex` as index is retur...,...,2022-04-09 00:09:03+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46703,1197631871,I_kwDOAA0YD85HYml_,46703,BUG: Can't floor timezone aware `DatetimeIndex`,...,2022-04-08 18:12:28+00:00,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46702,1197589283,I_kwDOAA0YD85HYcMj,46702,BUG: `DatetimeIndex.intersection` not working ...,...,2022-04-08 17:36:19+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46700,1197537961,PR_kwDOAA0YD8414nfD,46700,DOC: remove links to deprecated methods,...,2022-04-08 23:33:06+00:00,NaT,NONE,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46699,1197433738,I_kwDOAA0YD85HX2OK,46699,BUG: MultiIndex with IntervalIndex fails in so...,...,2022-04-08 15:09:28+00:00,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46698,1197365531,PR_kwDOAA0YD8414Efx,46698,TYP: Make temporary variables in pandas/__init...,...,2022-04-09 12:23:24+00:00,NaT,CONTRIBUTOR,NaN,Tiny step towards #39813 (`pyright --ignoreext...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46695,1197228963,PR_kwDOAA0YD8413ngm,46695,TYP: lib.no_default,...,2022-04-08 15:19:45+00:00,NaT,MEMBER,NaN,@Dr-Irv in common with other public api typing...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46694,1197208395,I_kwDOAA0YD85HW_NL,46694,PERF:,...,2022-04-08 12:02:41+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46693,1197197701,PR_kwDOAA0YD8413gzI,46693,BUG: isin casting to float64 for unsigned int ...,...,2022-04-08 23:27:30+00:00,NaT,MEMBER,NaN,- [x] closes #46485 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46689,1196403803,PR_kwDOAA0YD84105Fy,46689,Series,...,2022-04-09 08:09:14+00:00,NaT,NONE,NaN,- [x] closes #46004\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46688,1196340980,PR_kwDOAA0YD8410rX7,46688,ENH: implement non-nano Timedelta scalar,...,2022-04-09 00:59:16+00:00,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46687,1196325661,I_kwDOAA0YD85HTnsd,46687,CLN find stacklevel inside deprecate_nonkeywor...,...,2022-04-08 02:16:18+00:00,NaT,MEMBER,NaN,xref https://github.com/pandas-dev/pandas/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46685,1196244025,I_kwDOAA0YD85HTTw5,46685,BUG/DOC: Styler `apply`/`format` do not accept...,...,2022-04-09 09:15:08+00:00,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46684,1196185886,I_kwDOAA0YD85HTFke,46684,BUG: apply on DataFrame results in `TypeError:...,...,2022-04-08 16:58:40+00:00,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46683,1196161527,I_kwDOAA0YD85HS_n3,46683,BUG: Segmentation fault when JSON serializing ...,...,2022-04-07 14:48:40+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46682,1196082500,I_kwDOAA0YD85HSsVE,46682,Add interactive terminal to pandas website,...,2022-04-09 09:37:47+00:00,NaT,MEMBER,NaN,We discussed in the past about making pandas e...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN

In [44]:
pd.read_json("https://jsonplaceholder.typicode.com/posts")

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...